{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Exam Portal
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Exam given by Staffs</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Staff ID</th>
                                    <th>Staff Name</th>
                                    <th>Exam Date</th>
                                    <th>Exam Name</th>
                                    <th>Exam Link</th>
                                    <th>Created On</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                {% for leave in leaves %}
                                <tbody>
                                <tr>
                                    <td>{{ leave.id }}</td>
                                    <td>{{ leave.staff_id.admin.id }}</td>
                                    <td>{{ leave.staff_id.admin.first_name }} {{ feedback.staff_id.admin.last_name }}</td> 
                                    <td>{{ leave.exam_date }}</td>
                                    <td>{{ leave.exam_name }}</td>
                                    <td><a href="//{{ leave.exam_link }}" target="_blank">{{ leave.exam_link }}</a></td>
                                    <td>{{ leave.created_at }}</td>
                                    <td>
                                        <a href="{% url 'delete_exam' leave.exam_name %}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                                {% endfor %}

                            </table>
                        </div>
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>



  {% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block custom_js %}

  {% endblock custom_js %}